/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }

  .choices {
    height: 300px;
  }
  
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  body {
    background: rgb(91, 75, 171);
  }

  section {
    text-align: center;
  }

  h1, h2 {
    font-size: 3em;
  }

  p {
    font-size: 15px;
  }

  .question {
    font-size: 25px;
  }

  button {
    height: 180px;
    width: 33.33%;
    border-radius: 40px;
  }

  .a {
    background: rgb(229, 74, 74);
  }

  .b {
    background: rgb(59, 188, 59);
  }

  .c {
    background: rgb(195, 207, 54);
    margin-top: 5px;
  }

  .d {
    background: rgb(107, 196, 225);
    margin-top: 5px;
  }