/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
    box-sizing: border-box;
  }
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  img{
    display: block;
    margin: 0 auto;
  }

  .choices {
    height: 300px;
    margin-top: 25px;
    display: none;
  }
  
  @media (min-width: 300px) and (max-width: 700px) {
    .choices {
      height: 600px;
    }

    .choices button {
      width: 100%;
    }

    .b {
      margin-top: 5px;
    }
  }

  @media (min-width: 701px) and (max-width: 1000px) {
    .choices button {
      width: 45.33%;
    }
  }
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  body {
    background: rgb(91, 75, 171);
    font-family: 'Bangers', sans-serif;
    letter-spacing: 1px;
  }

  section {
    text-align: center;
  }

  h1, h2 {
    font-size: 2em;
  }

  section h2 {
    display: none;
  }

  p {
    font-size: 15px;
  }

  .question {
    font-size: 20px;
  }

  .choices {
    font-size: 25px;
  }

  button {
    height: 140px;
    width: 33.33%;
    border-radius: 40px;
  }

  .a {
    background: rgb(229, 74, 74);
  }

  .b {
    background: rgb(59, 188, 59);
  }

  .c {
    background: rgb(195, 207, 54);
    margin-top: 5px;
  }

  .d {
    background: rgb(107, 196, 225);
    margin-top: 5px;
  }

  .next {
    text-align: center;
  }

  .nextQuestion {
    border-radius: 40px;
    height: 50px;
    width: 150px;
    margin-top: 3%;
  }

  .answer {
    margin: 10px 0 0 0 ;
    text-align: center;
  }